:root {
  --primary: #bada55;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.animation {
  background-color: #000000;
  width: 100%;
  height: 100vh;
  animation: pageFade 2s ease-in 5s forwards;
  position: absolute;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: fill .5s ease-out forwards 3.5s;
}

.logoBackgrnd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fillGreen .9s ease-out forwards 4s;
  z-index: 1;
}

 .logo path:nth-child(1) {
  stroke-dasharray: 502px;
  stroke-dashoffset: 502px;
  animation: lines 2s ease-out forwards;
}

 .logo path:nth-child(2) {
  stroke-dasharray: 227.1px;
  stroke-dashoffset: 227.1px;
  animation: lines 2s ease-out forwards .3s;
}

 .logo path:nth-child(3) {
  stroke-dasharray: 174px;
  stroke-dashoffset: 174px;
  animation: lines 2s ease-out forwards .6s;
}

 .logo path:nth-child(4) {
  stroke-dasharray: 227.1px;
  stroke-dashoffset: 227.1px;
  animation: lines 2s ease-out forwards .9s;
}

 .logo path:nth-child(5) {
  stroke-dasharray: 349px;
  stroke-dashoffset: 349px;
  animation: lines 2s ease-out forwards 1.2s;
}

 .logo path:nth-child(6) {
  stroke-dasharray: 495.1px;
  stroke-dashoffset: 495.1px;
  animation: lines 2s ease-out forwards 1.5s;
}

 .logo path:nth-child(7) {
  stroke-dasharray: 366.2px;
  stroke-dashoffset: 366.2px;
  animation: lines 2s ease-out forwards 1.7s;
}


@keyframes lines {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes fillGreen {
  from {
    fill: transparent;
  }
  to {
    fill: var(--primary);
  }
}

@keyframes pageFade {
  to {
    opacity: 0;
    z-index: -2;
  }
}

/* ---------------------------Welcome Page Styling---------------------- */

.welcome-pg {
  background-image:  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('./images/group.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
}


#btn-log{
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  float: right;
  text-align: center;
  margin: 20px;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

}

#btn-log:hover {
  background-color: #bada55;
  color: black;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}

.welcome-para {
  color: white;
  text-align: center;
  font-family: 'Hind Vadodara', sans-serif;
}

h1{
    color: white;
  
}

.title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 120px;
  
}

h2 {
  font-size: 32px;
}

#btn-sign {
  padding: 30px;
  text-align:center;
  font-size: 2em;
  margin:60px auto;
  display: block;
  border-radius: 5px;  
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  
}

#btn-sign:hover {
  background-color: #bada55;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}




