:root {
  --primary: #bada55;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.animation {
  background-color: #000000;
  width: 100%;
  height: 100vh;
  animation: pageFade 2s ease-out 5s forwards;
  position: absolute;
}

#welcome {
  background: rgb(136, 44, 44);
  height: 100vh;
}

/* ====================== SOURC TITLE =============================== */

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill .5s ease-out forwards 3.5s;
  z-index: 2;
}

.titleBackgrnd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fillGreen .9s ease-out forwards 4s;
  z-index: 1;
}

.title path:nth-child(1) {
  stroke-dasharray: 502px;
  stroke-dashoffset: 502px;
  animation: lines 2s ease-out forwards;
}

.title path:nth-child(2) {
  stroke-dasharray: 227.1px;
  stroke-dashoffset: 227.1px;
  animation: lines 2s ease-out forwards .3s;
}

.title path:nth-child(3) {
  stroke-dasharray: 174px;
  stroke-dashoffset: 174px;
  animation: lines 2s ease-out forwards .6s;
}

.title path:nth-child(4) {
  stroke-dasharray: 227.1px;
  stroke-dashoffset: 227.1px;
  animation: lines 2s ease-out forwards .9s;
}

.title path:nth-child(5) {
  stroke-dasharray: 349px;
  stroke-dashoffset: 349px;
  animation: lines 2s ease-out forwards 1.2s;
}

.title path:nth-child(6) {
  stroke-dasharray: 495.1px;
  stroke-dashoffset: 495.1px;
  animation: lines 2s ease-out forwards 1.5s;
}

.title path:nth-child(7) {
  stroke-dasharray: 366.2px;
  stroke-dashoffset: 366.2px;
  animation: lines 2s ease-out forwards 1.7s;
}


@keyframes lines {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

/* fills green ticks behind SOURC animation */

@keyframes fillGreen {
  from {
    fill: transparent;
  }
  to {
    fill: var(--primary);
  }
}

/* Page fade animation */

@keyframes pageFade {
  to {
    opacity: 0;
  }
}

/* ====================== SOURC TITLE =============================== */

/*  */

.brackets {
  position: absolute;
  top: 34%;
  left: 43.5%;
  transform: translate(-50%, -40%);
  opacity: 0;
  animation: appear 2s ease-out forwards 4s;
}

/* .brackets path:nth-child(1) {
  stroke-dasharray: 248px;
  stroke-dashoffset: 248px;
  animation: lines 2s ease-out forwards 4s;
}

.brackets path:nth-child(2) {
  stroke-dasharray: 248px;
  stroke-dashoffset: 248px;
  animation: lines 2s ease-out forwards 4s;
} */

.inner-logo {
  position: absolute;
  top: 34.5%;
  left: 43.5%;
  transform: translate(-50%, -40%);
  animation: appear 2s ease-out forwards 4s;
  opacity: 0;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

/* ==================================== HEADER ====================================== */

.nav-logo {
  margin-left: 10px;
}

nav {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: black;
  justify-content: space-between;
}

nav ul {
  color: white;
  list-style-type: none;
  display: flex;
}

nav ul, li {
  font-size: 20px;
  margin: 0 25px;
  align-items: center;
}
